EIDSS v5/eidss.webclient/Service References/ReportService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8098/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" />
  <xs:import schemaLocation="http://localhost:8098/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" />
  <xs:import schemaLocation="http://localhost:8098/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" />
  <xs:import schemaLocation="http://localhost:8098/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" />
  <xs:import schemaLocation="http://localhost:8098/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="ExportHumAggregateCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q1:AggregateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAggregateCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAggregateCaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAggregateCaseSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q2:AggregateSummaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAggregateCaseSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAggregateCaseSummaryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumCaseInvestigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q3:HumIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumCaseInvestigationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumCaseInvestigationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumUrgentyNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q4:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumUrgentyNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumUrgentyNotificationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDiagnosisToChangedDiagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q5:BaseIntervalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDiagnosisToChangedDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumDiagnosisToChangedDiagnosisResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthlyMorbidityAndMortality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q6:BaseDateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthlyMorbidityAndMortalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMonthlyMorbidityAndMortalityResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSummaryOfInfectiousDiseases">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q7:BaseIntervalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSummaryOfInfectiousDiseasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumSummaryOfInfectiousDiseasesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSerologyResearchCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q8:LabSampleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSerologyResearchCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumSerologyResearchCardResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMicrobiologyResearchCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q9:LabSampleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMicrobiologyResearchCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMicrobiologyResearchCardResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAntibioticResistanceCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q10:LabSampleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAntibioticResistanceCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAntibioticResistanceCardResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHum60BJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q11:Hum60BJournalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHum60BJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHum60BJournalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthInfectiousDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q12:MonthInfectiousDiseaseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthInfectiousDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMonthInfectiousDiseaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthInfectiousDiseaseNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q13:MonthInfectiousDiseaseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthInfectiousDiseaseNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMonthInfectiousDiseaseNewResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateMonthInfectiousDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q14:IntermediateInfectiousDiseaseSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateMonthInfectiousDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumIntermediateMonthInfectiousDiseaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateMonthInfectiousDiseaseNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q15:IntermediateInfectiousDiseaseSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateMonthInfectiousDiseaseNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumIntermediateMonthInfectiousDiseaseNewResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAnnualInfectiousDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q16:AnnualInfectiousDiseaseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAnnualInfectiousDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAnnualInfectiousDiseaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateAnnualInfectiousDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q17:IntermediateInfectiousDiseaseSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateAnnualInfectiousDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumIntermediateAnnualInfectiousDiseaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumFormN1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q18:FormNo1SurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumFormN1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumFormN1Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDataQualityIndicators">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q19:DataQualityIndicatorsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDataQualityIndicatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumDataQualityIndicatorsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDataQualityIndicatorsRayons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q20:DataQualityIndicatorsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDataQualityIndicatorsRayonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumDataQualityIndicatorsRayonsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSummaryByRayonDiagnosisAgeGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q21:SummaryByRayonDiagnosisAgeGroupsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSummaryByRayonDiagnosisAgeGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumSummaryByRayonDiagnosisAgeGroupsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeAZReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q22:ComparativeSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeAZReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumComparativeAZReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumExternalComparativeReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q23:ExternalComparativeSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumExternalComparativeReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumExternalComparativeReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMainIndicatorsOfAFPSurveillance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q24:AFPModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMainIndicatorsOfAFPSurveillanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMainIndicatorsOfAFPSurveillanceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAdditionalIndicatorsOfAFPSurveillance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q25:AFPModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAdditionalIndicatorsOfAFPSurveillanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAdditionalIndicatorsOfAFPSurveillanceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumWhoMeaslesRubellaReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q26:BaseDateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumWhoMeaslesRubellaReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumWhoMeaslesRubellaReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeReportOfTwoYears">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q27:ComparativeTwoYearsSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeReportOfTwoYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumComparativeReportOfTwoYearsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryCasesReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q28:VetCasesSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryCasesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVeterinaryCasesReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryLaboratoriesAZReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q29:VetLabSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryLaboratoriesAZReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVeterinaryLaboratoriesAZReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q30:AggregateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAggregateCaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q31:AggregateSummaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAggregateCaseSummaryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q32:AggregateActionsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAggregateCaseActionsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseActionsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q33:AggregateActionsSummaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseActionsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAggregateCaseActionsSummaryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAvianInvestigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q34:VetIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAvianInvestigationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAvianInvestigationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetLivestockInvestigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q35:VetIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetLivestockInvestigationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetLivestockInvestigationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetActiveSurveillanceSampleCollected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q36:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetActiveSurveillanceSampleCollectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetActiveSurveillanceSampleCollectedResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q37:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetSamplesCountResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesBySampleType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q38:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesBySampleTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetSamplesBySampleTypeResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesBySampleTypesWithinRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q39:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesBySampleTypesWithinRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetSamplesBySampleTypesWithinRegionsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetYearlySituation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q40:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetYearlySituationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetYearlySituationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetActiveSurveillance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q41:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetActiveSurveillanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetActiveSurveillanceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountryPreventiveMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q42:ProphylacticModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountryPreventiveMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetCountryPreventiveMeasuresResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountrySanitaryMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q43:SanitaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountrySanitaryMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetCountrySanitaryMeasuresResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountryPlannedDiagnosticTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q44:DiagnosticInvestigationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountryPlannedDiagnosticTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetCountryPlannedDiagnosticTestsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastPreventiveMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q45:ProphylacticModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastPreventiveMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetOblastPreventiveMeasuresResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastSanitaryMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q46:SanitaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastSanitaryMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetOblastSanitaryMeasuresResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastPlannedDiagnosticTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q47:DiagnosticInvestigationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastPlannedDiagnosticTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetOblastPlannedDiagnosticTestsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimTestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q48:LimTestResultModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimTestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimTestResultResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimSampleTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q49:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimSampleTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimSampleTransferResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q50:LimTestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimTestResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimBatchTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q51:LimBatchTestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimBatchTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimBatchTestResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimContainerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q52:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimContainerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimContainerDetailsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimContainerContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q53:LimContainerContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimContainerContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimContainerContentResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimAccessionIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q54:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimAccessionInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimAccessionInResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportOutbreak">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q55:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportOutbreakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportOutbreakResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportAdmEventLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q56:BaseIntervalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportAdmEventLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportAdmEventLogResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetServiceVersionResult" nillable="true" type="q57:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>