EIDSS v5/eidss.webclient/Service References/ReportService/ReportFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportFacade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Enums" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportFacade_ExportHumAggregateCase_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAggregateCase" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAggregateCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAggregateCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAggregateCaseSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAggregateCaseSummary" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAggregateCaseSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAggregateCaseSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumCaseInvestigation_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumCaseInvestigation" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumCaseInvestigation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumCaseInvestigationResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumUrgentyNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumUrgentyNotification" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumUrgentyNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumUrgentyNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumDiagnosisToChangedDiagnosis_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumDiagnosisToChangedDiagnosis" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumDiagnosisToChangedDiagnosis_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumDiagnosisToChangedDiagnosisResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMonthlyMorbidityAndMortality_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMonthlyMorbidityAndMortality" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMonthlyMorbidityAndMortality_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMonthlyMorbidityAndMortalityResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumSummaryOfInfectiousDiseases_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumSummaryOfInfectiousDiseases" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumSummaryOfInfectiousDiseases_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumSummaryOfInfectiousDiseasesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumSerologyResearchCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumSerologyResearchCard" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumSerologyResearchCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumSerologyResearchCardResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMicrobiologyResearchCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMicrobiologyResearchCard" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMicrobiologyResearchCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMicrobiologyResearchCardResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAntibioticResistanceCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAntibioticResistanceCard" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAntibioticResistanceCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAntibioticResistanceCardResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHum60BJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHum60BJournal" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHum60BJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHum60BJournalResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMonthInfectiousDisease_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMonthInfectiousDisease" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMonthInfectiousDisease_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMonthInfectiousDiseaseResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMonthInfectiousDiseaseNew_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMonthInfectiousDiseaseNew" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMonthInfectiousDiseaseNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMonthInfectiousDiseaseNewResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumIntermediateMonthInfectiousDisease_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumIntermediateMonthInfectiousDisease" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumIntermediateMonthInfectiousDisease_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumIntermediateMonthInfectiousDiseaseResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumIntermediateMonthInfectiousDiseaseNew_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumIntermediateMonthInfectiousDiseaseNew" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumIntermediateMonthInfectiousDiseaseNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumIntermediateMonthInfectiousDiseaseNewResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAnnualInfectiousDisease_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAnnualInfectiousDisease" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAnnualInfectiousDisease_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAnnualInfectiousDiseaseResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumIntermediateAnnualInfectiousDisease_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumIntermediateAnnualInfectiousDisease" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumIntermediateAnnualInfectiousDisease_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumIntermediateAnnualInfectiousDiseaseResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumFormN1_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumFormN1" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumFormN1_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumFormN1Response" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumDataQualityIndicators_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumDataQualityIndicators" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumDataQualityIndicators_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumDataQualityIndicatorsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumDataQualityIndicatorsRayons_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumDataQualityIndicatorsRayons" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumDataQualityIndicatorsRayons_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumDataQualityIndicatorsRayonsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumSummaryByRayonDiagnosisAgeGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumSummaryByRayonDiagnosisAgeGroups" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumSummaryByRayonDiagnosisAgeGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumSummaryByRayonDiagnosisAgeGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumComparativeAZReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumComparativeAZReport" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumComparativeAZReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumComparativeAZReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumExternalComparativeReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumExternalComparativeReport" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumExternalComparativeReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumExternalComparativeReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMainIndicatorsOfAFPSurveillance_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMainIndicatorsOfAFPSurveillance" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumMainIndicatorsOfAFPSurveillance_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumMainIndicatorsOfAFPSurveillanceResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAdditionalIndicatorsOfAFPSurveillance_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAdditionalIndicatorsOfAFPSurveillance" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumAdditionalIndicatorsOfAFPSurveillance_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumAdditionalIndicatorsOfAFPSurveillanceResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumWhoMeaslesRubellaReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumWhoMeaslesRubellaReport" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumWhoMeaslesRubellaReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumWhoMeaslesRubellaReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumComparativeReportOfTwoYears_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumComparativeReportOfTwoYears" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportHumComparativeReportOfTwoYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportHumComparativeReportOfTwoYearsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVeterinaryCasesReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVeterinaryCasesReport" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVeterinaryCasesReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVeterinaryCasesReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVeterinaryLaboratoriesAZReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVeterinaryLaboratoriesAZReport" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVeterinaryLaboratoriesAZReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVeterinaryLaboratoriesAZReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAggregateCase_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAggregateCase" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAggregateCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAggregateCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAggregateCaseSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAggregateCaseSummary" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAggregateCaseSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAggregateCaseSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAggregateCaseActions_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAggregateCaseActions" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAggregateCaseActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAggregateCaseActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAggregateCaseActionsSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAggregateCaseActionsSummary" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAggregateCaseActionsSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAggregateCaseActionsSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAvianInvestigation_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAvianInvestigation" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetAvianInvestigation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetAvianInvestigationResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetLivestockInvestigation_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetLivestockInvestigation" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetLivestockInvestigation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetLivestockInvestigationResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetActiveSurveillanceSampleCollected_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetActiveSurveillanceSampleCollected" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetActiveSurveillanceSampleCollected_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetActiveSurveillanceSampleCollectedResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetSamplesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetSamplesCount" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetSamplesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetSamplesCountResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetSamplesBySampleType_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetSamplesBySampleType" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetSamplesBySampleType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetSamplesBySampleTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetSamplesBySampleTypesWithinRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetSamplesBySampleTypesWithinRegions" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetSamplesBySampleTypesWithinRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetSamplesBySampleTypesWithinRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetYearlySituation_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetYearlySituation" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetYearlySituation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetYearlySituationResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetActiveSurveillance_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetActiveSurveillance" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetActiveSurveillance_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetActiveSurveillanceResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetCountryPreventiveMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetCountryPreventiveMeasures" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetCountryPreventiveMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetCountryPreventiveMeasuresResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetCountrySanitaryMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetCountrySanitaryMeasures" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetCountrySanitaryMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetCountrySanitaryMeasuresResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetCountryPlannedDiagnosticTests_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetCountryPlannedDiagnosticTests" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetCountryPlannedDiagnosticTests_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetCountryPlannedDiagnosticTestsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetOblastPreventiveMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetOblastPreventiveMeasures" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetOblastPreventiveMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetOblastPreventiveMeasuresResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetOblastSanitaryMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetOblastSanitaryMeasures" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetOblastSanitaryMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetOblastSanitaryMeasuresResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetOblastPlannedDiagnosticTests_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetOblastPlannedDiagnosticTests" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportVetOblastPlannedDiagnosticTests_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportVetOblastPlannedDiagnosticTestsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimTestResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimTestResult" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimTestResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimTestResultResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimSampleTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimSampleTransfer" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimSampleTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimSampleTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimTest" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimTestResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimBatchTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimBatchTest" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimBatchTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimBatchTestResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimContainerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimContainerDetails" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimContainerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimContainerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimContainerContent_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimContainerContent" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimContainerContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimContainerContentResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimAccessionIn_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimAccessionIn" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportLimAccessionIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportLimAccessionInResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportOutbreak_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportOutbreak" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportOutbreak_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportOutbreakResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportAdmEventLog_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportAdmEventLog" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_ExportAdmEventLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportAdmEventLogResponse" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_GetServiceVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceVersion" />
  </wsdl:message>
  <wsdl:message name="IReportFacade_GetServiceVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportFacade">
    <wsdl:operation name="ExportHumAggregateCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAggregateCase" message="tns:IReportFacade_ExportHumAggregateCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAggregateCaseResponse" message="tns:IReportFacade_ExportHumAggregateCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumAggregateCaseSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAggregateCaseSummary" message="tns:IReportFacade_ExportHumAggregateCaseSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAggregateCaseSummaryResponse" message="tns:IReportFacade_ExportHumAggregateCaseSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumCaseInvestigation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumCaseInvestigation" message="tns:IReportFacade_ExportHumCaseInvestigation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumCaseInvestigationResponse" message="tns:IReportFacade_ExportHumCaseInvestigation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumUrgentyNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumUrgentyNotification" message="tns:IReportFacade_ExportHumUrgentyNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumUrgentyNotificationResponse" message="tns:IReportFacade_ExportHumUrgentyNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumDiagnosisToChangedDiagnosis">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumDiagnosisToChangedDiagnosis" message="tns:IReportFacade_ExportHumDiagnosisToChangedDiagnosis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumDiagnosisToChangedDiagnosisResponse" message="tns:IReportFacade_ExportHumDiagnosisToChangedDiagnosis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumMonthlyMorbidityAndMortality">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMonthlyMorbidityAndMortality" message="tns:IReportFacade_ExportHumMonthlyMorbidityAndMortality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMonthlyMorbidityAndMortalityResponse" message="tns:IReportFacade_ExportHumMonthlyMorbidityAndMortality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumSummaryOfInfectiousDiseases">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumSummaryOfInfectiousDiseases" message="tns:IReportFacade_ExportHumSummaryOfInfectiousDiseases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumSummaryOfInfectiousDiseasesResponse" message="tns:IReportFacade_ExportHumSummaryOfInfectiousDiseases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumSerologyResearchCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumSerologyResearchCard" message="tns:IReportFacade_ExportHumSerologyResearchCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumSerologyResearchCardResponse" message="tns:IReportFacade_ExportHumSerologyResearchCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumMicrobiologyResearchCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMicrobiologyResearchCard" message="tns:IReportFacade_ExportHumMicrobiologyResearchCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMicrobiologyResearchCardResponse" message="tns:IReportFacade_ExportHumMicrobiologyResearchCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumAntibioticResistanceCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAntibioticResistanceCard" message="tns:IReportFacade_ExportHumAntibioticResistanceCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAntibioticResistanceCardResponse" message="tns:IReportFacade_ExportHumAntibioticResistanceCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHum60BJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHum60BJournal" message="tns:IReportFacade_ExportHum60BJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHum60BJournalResponse" message="tns:IReportFacade_ExportHum60BJournal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumMonthInfectiousDisease">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMonthInfectiousDisease" message="tns:IReportFacade_ExportHumMonthInfectiousDisease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMonthInfectiousDiseaseResponse" message="tns:IReportFacade_ExportHumMonthInfectiousDisease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumMonthInfectiousDiseaseNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMonthInfectiousDiseaseNew" message="tns:IReportFacade_ExportHumMonthInfectiousDiseaseNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMonthInfectiousDiseaseNewResponse" message="tns:IReportFacade_ExportHumMonthInfectiousDiseaseNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumIntermediateMonthInfectiousDisease">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumIntermediateMonthInfectiousDisease" message="tns:IReportFacade_ExportHumIntermediateMonthInfectiousDisease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumIntermediateMonthInfectiousDiseaseResponse" message="tns:IReportFacade_ExportHumIntermediateMonthInfectiousDisease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumIntermediateMonthInfectiousDiseaseNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumIntermediateMonthInfectiousDiseaseNew" message="tns:IReportFacade_ExportHumIntermediateMonthInfectiousDiseaseNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumIntermediateMonthInfectiousDiseaseNewResponse" message="tns:IReportFacade_ExportHumIntermediateMonthInfectiousDiseaseNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumAnnualInfectiousDisease">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAnnualInfectiousDisease" message="tns:IReportFacade_ExportHumAnnualInfectiousDisease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAnnualInfectiousDiseaseResponse" message="tns:IReportFacade_ExportHumAnnualInfectiousDisease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumIntermediateAnnualInfectiousDisease">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumIntermediateAnnualInfectiousDisease" message="tns:IReportFacade_ExportHumIntermediateAnnualInfectiousDisease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumIntermediateAnnualInfectiousDiseaseResponse" message="tns:IReportFacade_ExportHumIntermediateAnnualInfectiousDisease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumFormN1">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumFormN1" message="tns:IReportFacade_ExportHumFormN1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumFormN1Response" message="tns:IReportFacade_ExportHumFormN1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumDataQualityIndicators">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumDataQualityIndicators" message="tns:IReportFacade_ExportHumDataQualityIndicators_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumDataQualityIndicatorsResponse" message="tns:IReportFacade_ExportHumDataQualityIndicators_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumDataQualityIndicatorsRayons">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumDataQualityIndicatorsRayons" message="tns:IReportFacade_ExportHumDataQualityIndicatorsRayons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumDataQualityIndicatorsRayonsResponse" message="tns:IReportFacade_ExportHumDataQualityIndicatorsRayons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumSummaryByRayonDiagnosisAgeGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumSummaryByRayonDiagnosisAgeGroups" message="tns:IReportFacade_ExportHumSummaryByRayonDiagnosisAgeGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumSummaryByRayonDiagnosisAgeGroupsResponse" message="tns:IReportFacade_ExportHumSummaryByRayonDiagnosisAgeGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumComparativeAZReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumComparativeAZReport" message="tns:IReportFacade_ExportHumComparativeAZReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumComparativeAZReportResponse" message="tns:IReportFacade_ExportHumComparativeAZReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumExternalComparativeReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumExternalComparativeReport" message="tns:IReportFacade_ExportHumExternalComparativeReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumExternalComparativeReportResponse" message="tns:IReportFacade_ExportHumExternalComparativeReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumMainIndicatorsOfAFPSurveillance">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMainIndicatorsOfAFPSurveillance" message="tns:IReportFacade_ExportHumMainIndicatorsOfAFPSurveillance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumMainIndicatorsOfAFPSurveillanceResponse" message="tns:IReportFacade_ExportHumMainIndicatorsOfAFPSurveillance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumAdditionalIndicatorsOfAFPSurveillance">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAdditionalIndicatorsOfAFPSurveillance" message="tns:IReportFacade_ExportHumAdditionalIndicatorsOfAFPSurveillance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumAdditionalIndicatorsOfAFPSurveillanceResponse" message="tns:IReportFacade_ExportHumAdditionalIndicatorsOfAFPSurveillance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumWhoMeaslesRubellaReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumWhoMeaslesRubellaReport" message="tns:IReportFacade_ExportHumWhoMeaslesRubellaReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumWhoMeaslesRubellaReportResponse" message="tns:IReportFacade_ExportHumWhoMeaslesRubellaReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportHumComparativeReportOfTwoYears">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportHumComparativeReportOfTwoYears" message="tns:IReportFacade_ExportHumComparativeReportOfTwoYears_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportHumComparativeReportOfTwoYearsResponse" message="tns:IReportFacade_ExportHumComparativeReportOfTwoYears_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVeterinaryCasesReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVeterinaryCasesReport" message="tns:IReportFacade_ExportVeterinaryCasesReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVeterinaryCasesReportResponse" message="tns:IReportFacade_ExportVeterinaryCasesReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVeterinaryLaboratoriesAZReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVeterinaryLaboratoriesAZReport" message="tns:IReportFacade_ExportVeterinaryLaboratoriesAZReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVeterinaryLaboratoriesAZReportResponse" message="tns:IReportFacade_ExportVeterinaryLaboratoriesAZReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetAggregateCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAggregateCase" message="tns:IReportFacade_ExportVetAggregateCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAggregateCaseResponse" message="tns:IReportFacade_ExportVetAggregateCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetAggregateCaseSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAggregateCaseSummary" message="tns:IReportFacade_ExportVetAggregateCaseSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAggregateCaseSummaryResponse" message="tns:IReportFacade_ExportVetAggregateCaseSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetAggregateCaseActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAggregateCaseActions" message="tns:IReportFacade_ExportVetAggregateCaseActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAggregateCaseActionsResponse" message="tns:IReportFacade_ExportVetAggregateCaseActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetAggregateCaseActionsSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAggregateCaseActionsSummary" message="tns:IReportFacade_ExportVetAggregateCaseActionsSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAggregateCaseActionsSummaryResponse" message="tns:IReportFacade_ExportVetAggregateCaseActionsSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetAvianInvestigation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAvianInvestigation" message="tns:IReportFacade_ExportVetAvianInvestigation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetAvianInvestigationResponse" message="tns:IReportFacade_ExportVetAvianInvestigation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetLivestockInvestigation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetLivestockInvestigation" message="tns:IReportFacade_ExportVetLivestockInvestigation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetLivestockInvestigationResponse" message="tns:IReportFacade_ExportVetLivestockInvestigation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetActiveSurveillanceSampleCollected">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetActiveSurveillanceSampleCollected" message="tns:IReportFacade_ExportVetActiveSurveillanceSampleCollected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetActiveSurveillanceSampleCollectedResponse" message="tns:IReportFacade_ExportVetActiveSurveillanceSampleCollected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetSamplesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetSamplesCount" message="tns:IReportFacade_ExportVetSamplesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetSamplesCountResponse" message="tns:IReportFacade_ExportVetSamplesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetSamplesBySampleType">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetSamplesBySampleType" message="tns:IReportFacade_ExportVetSamplesBySampleType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetSamplesBySampleTypeResponse" message="tns:IReportFacade_ExportVetSamplesBySampleType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetSamplesBySampleTypesWithinRegions">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetSamplesBySampleTypesWithinRegions" message="tns:IReportFacade_ExportVetSamplesBySampleTypesWithinRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetSamplesBySampleTypesWithinRegionsResponse" message="tns:IReportFacade_ExportVetSamplesBySampleTypesWithinRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetYearlySituation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetYearlySituation" message="tns:IReportFacade_ExportVetYearlySituation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetYearlySituationResponse" message="tns:IReportFacade_ExportVetYearlySituation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetActiveSurveillance">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetActiveSurveillance" message="tns:IReportFacade_ExportVetActiveSurveillance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetActiveSurveillanceResponse" message="tns:IReportFacade_ExportVetActiveSurveillance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetCountryPreventiveMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetCountryPreventiveMeasures" message="tns:IReportFacade_ExportVetCountryPreventiveMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetCountryPreventiveMeasuresResponse" message="tns:IReportFacade_ExportVetCountryPreventiveMeasures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetCountrySanitaryMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetCountrySanitaryMeasures" message="tns:IReportFacade_ExportVetCountrySanitaryMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetCountrySanitaryMeasuresResponse" message="tns:IReportFacade_ExportVetCountrySanitaryMeasures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetCountryPlannedDiagnosticTests">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetCountryPlannedDiagnosticTests" message="tns:IReportFacade_ExportVetCountryPlannedDiagnosticTests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetCountryPlannedDiagnosticTestsResponse" message="tns:IReportFacade_ExportVetCountryPlannedDiagnosticTests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetOblastPreventiveMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetOblastPreventiveMeasures" message="tns:IReportFacade_ExportVetOblastPreventiveMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetOblastPreventiveMeasuresResponse" message="tns:IReportFacade_ExportVetOblastPreventiveMeasures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetOblastSanitaryMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetOblastSanitaryMeasures" message="tns:IReportFacade_ExportVetOblastSanitaryMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetOblastSanitaryMeasuresResponse" message="tns:IReportFacade_ExportVetOblastSanitaryMeasures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportVetOblastPlannedDiagnosticTests">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportVetOblastPlannedDiagnosticTests" message="tns:IReportFacade_ExportVetOblastPlannedDiagnosticTests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportVetOblastPlannedDiagnosticTestsResponse" message="tns:IReportFacade_ExportVetOblastPlannedDiagnosticTests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportLimTestResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportLimTestResult" message="tns:IReportFacade_ExportLimTestResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportLimTestResultResponse" message="tns:IReportFacade_ExportLimTestResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportLimSampleTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportLimSampleTransfer" message="tns:IReportFacade_ExportLimSampleTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportLimSampleTransferResponse" message="tns:IReportFacade_ExportLimSampleTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportLimTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportLimTest" message="tns:IReportFacade_ExportLimTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportLimTestResponse" message="tns:IReportFacade_ExportLimTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportLimBatchTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportLimBatchTest" message="tns:IReportFacade_ExportLimBatchTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportLimBatchTestResponse" message="tns:IReportFacade_ExportLimBatchTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportLimContainerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportLimContainerDetails" message="tns:IReportFacade_ExportLimContainerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportLimContainerDetailsResponse" message="tns:IReportFacade_ExportLimContainerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportLimContainerContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportLimContainerContent" message="tns:IReportFacade_ExportLimContainerContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportLimContainerContentResponse" message="tns:IReportFacade_ExportLimContainerContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportLimAccessionIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportLimAccessionIn" message="tns:IReportFacade_ExportLimAccessionIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportLimAccessionInResponse" message="tns:IReportFacade_ExportLimAccessionIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportOutbreak">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportOutbreak" message="tns:IReportFacade_ExportOutbreak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportOutbreakResponse" message="tns:IReportFacade_ExportOutbreak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportAdmEventLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/ExportAdmEventLog" message="tns:IReportFacade_ExportAdmEventLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/ExportAdmEventLogResponse" message="tns:IReportFacade_ExportAdmEventLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportFacade/GetServiceVersion" message="tns:IReportFacade_GetServiceVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportFacade/GetServiceVersionResponse" message="tns:IReportFacade_GetServiceVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportFacade" type="tns:IReportFacade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportHumAggregateCase">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumAggregateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumAggregateCaseSummary">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumAggregateCaseSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumCaseInvestigation">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumCaseInvestigation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumUrgentyNotification">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumUrgentyNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumDiagnosisToChangedDiagnosis">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumDiagnosisToChangedDiagnosis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumMonthlyMorbidityAndMortality">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumMonthlyMorbidityAndMortality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumSummaryOfInfectiousDiseases">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumSummaryOfInfectiousDiseases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumSerologyResearchCard">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumSerologyResearchCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumMicrobiologyResearchCard">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumMicrobiologyResearchCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumAntibioticResistanceCard">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumAntibioticResistanceCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHum60BJournal">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHum60BJournal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumMonthInfectiousDisease">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumMonthInfectiousDisease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumMonthInfectiousDiseaseNew">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumMonthInfectiousDiseaseNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumIntermediateMonthInfectiousDisease">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumIntermediateMonthInfectiousDisease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumIntermediateMonthInfectiousDiseaseNew">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumIntermediateMonthInfectiousDiseaseNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumAnnualInfectiousDisease">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumAnnualInfectiousDisease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumIntermediateAnnualInfectiousDisease">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumIntermediateAnnualInfectiousDisease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumFormN1">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumFormN1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumDataQualityIndicators">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumDataQualityIndicators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumDataQualityIndicatorsRayons">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumDataQualityIndicatorsRayons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumSummaryByRayonDiagnosisAgeGroups">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumSummaryByRayonDiagnosisAgeGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumComparativeAZReport">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumComparativeAZReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumExternalComparativeReport">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumExternalComparativeReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumMainIndicatorsOfAFPSurveillance">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumMainIndicatorsOfAFPSurveillance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumAdditionalIndicatorsOfAFPSurveillance">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumAdditionalIndicatorsOfAFPSurveillance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumWhoMeaslesRubellaReport">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumWhoMeaslesRubellaReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportHumComparativeReportOfTwoYears">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportHumComparativeReportOfTwoYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVeterinaryCasesReport">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVeterinaryCasesReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVeterinaryLaboratoriesAZReport">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVeterinaryLaboratoriesAZReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetAggregateCase">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetAggregateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetAggregateCaseSummary">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetAggregateCaseSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetAggregateCaseActions">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetAggregateCaseActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetAggregateCaseActionsSummary">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetAggregateCaseActionsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetAvianInvestigation">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetAvianInvestigation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetLivestockInvestigation">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetLivestockInvestigation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetActiveSurveillanceSampleCollected">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetActiveSurveillanceSampleCollected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetSamplesCount">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetSamplesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetSamplesBySampleType">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetSamplesBySampleType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetSamplesBySampleTypesWithinRegions">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetSamplesBySampleTypesWithinRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetYearlySituation">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetYearlySituation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetActiveSurveillance">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetActiveSurveillance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetCountryPreventiveMeasures">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetCountryPreventiveMeasures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetCountrySanitaryMeasures">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetCountrySanitaryMeasures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetCountryPlannedDiagnosticTests">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetCountryPlannedDiagnosticTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetOblastPreventiveMeasures">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetOblastPreventiveMeasures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetOblastSanitaryMeasures">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetOblastSanitaryMeasures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportVetOblastPlannedDiagnosticTests">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportVetOblastPlannedDiagnosticTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportLimTestResult">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportLimTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportLimSampleTransfer">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportLimSampleTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportLimTest">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportLimTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportLimBatchTest">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportLimBatchTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportLimContainerDetails">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportLimContainerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportLimContainerContent">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportLimContainerContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportLimAccessionIn">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportLimAccessionIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportOutbreak">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportOutbreak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportAdmEventLog">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/ExportAdmEventLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersion">
      <soap:operation soapAction="http://tempuri.org/IReportFacade/GetServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportFacade">
    <wsdl:port name="BasicHttpBinding_IReportFacade" binding="tns:BasicHttpBinding_IReportFacade">
      <soap:address location="http://localhost:8098/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>