EIDSS v6/eidss.webclient/Service References/ReportService/item65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" />
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" />
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" />
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" />
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/bv.common.Core" />
  <xs:import schemaLocation="http://localhost:8097/?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="ExportHumAggregateCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q1:AggregateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAggregateCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAggregateCaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAggregateCaseSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q2:AggregateSummaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAggregateCaseSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAggregateCaseSummaryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumCaseInvestigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q3:HumIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumCaseInvestigationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumCaseInvestigationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumUrgentyNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q4:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumUrgentyNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumUrgentyNotificationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDiagnosisToChangedDiagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q5:DToChangedDSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDiagnosisToChangedDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumDiagnosisToChangedDiagnosisResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthlyMorbidityAndMortality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q6:BaseDateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthlyMorbidityAndMortalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMonthlyMorbidityAndMortalityResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHum60BJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q7:Hum60BJournalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHum60BJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHum60BJournalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthInfectiousDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q8:MonthInfectiousDiseaseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthInfectiousDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMonthInfectiousDiseaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthInfectiousDiseaseNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q9:MonthInfectiousDiseaseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMonthInfectiousDiseaseNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMonthInfectiousDiseaseNewResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateMonthInfectiousDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q10:IntermediateInfectiousDiseaseSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateMonthInfectiousDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumIntermediateMonthInfectiousDiseaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateMonthInfectiousDiseaseNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q11:IntermediateInfectiousDiseaseSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateMonthInfectiousDiseaseNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumIntermediateMonthInfectiousDiseaseNewResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAnnualInfectiousDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q12:AnnualInfectiousDiseaseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAnnualInfectiousDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAnnualInfectiousDiseaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateAnnualInfectiousDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q13:IntermediateInfectiousDiseaseSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumIntermediateAnnualInfectiousDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumIntermediateAnnualInfectiousDiseaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSerologyResearchCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q14:HumanLabSampleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSerologyResearchCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumSerologyResearchCardResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMicrobiologyResearchCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q15:HumanLabSampleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMicrobiologyResearchCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMicrobiologyResearchCardResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAntibioticResistanceCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q16:HumanLabSampleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAntibioticResistanceCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAntibioticResistanceCardResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAntibioticResistanceCardLma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q17:VetLabSampleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAntibioticResistanceCardLmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAntibioticResistanceCardLmaResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetRabiesBulletinEurope">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q18:RBESurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetRabiesBulletinEuropeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetRabiesBulletinEuropeResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetLaboratoryResearchResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/eidss.model.Reports.GG" minOccurs="0" name="model" nillable="true" type="q19:VetLaboratoryResearchResultModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetLaboratoryResearchResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetLaboratoryResearchResultResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumFormN1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q20:FormNo1SurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumFormN1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumFormN1Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDataQualityIndicators">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="surrogateModel" nillable="true" type="q21:DataQualityIndicatorsSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDataQualityIndicatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumDataQualityIndicatorsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDataQualityIndicatorsRayons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="surrogateModel" nillable="true" type="q22:DataQualityIndicatorsSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumDataQualityIndicatorsRayonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumDataQualityIndicatorsRayonsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSummaryByRayonDiagnosisAgeGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q23:SummaryByRayonDiagnosisModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumSummaryByRayonDiagnosisAgeGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumSummaryByRayonDiagnosisAgeGroupsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeAZReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q24:ComparativeSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeAZReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumComparativeAZReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumExternalComparativeReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q25:ExternalComparativeSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumExternalComparativeReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumExternalComparativeReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMainIndicatorsOfAFPSurveillance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q26:AFPModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumMainIndicatorsOfAFPSurveillanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumMainIndicatorsOfAFPSurveillanceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAdditionalIndicatorsOfAFPSurveillance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q27:AFPModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumAdditionalIndicatorsOfAFPSurveillanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumAdditionalIndicatorsOfAFPSurveillanceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumWhoMeaslesRubellaReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q28:WhoMeaslesRubellaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumWhoMeaslesRubellaReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumWhoMeaslesRubellaReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeReportOfTwoYears">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q29:ComparativeTwoYearsSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeReportOfTwoYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumComparativeReportOfTwoYearsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLabTestingResultsAZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q30:VetLabSampleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLabTestingResultsAZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLabTestingResultsAZResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportAssignmentLabDiagnosticAZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q31:LabCaseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportAssignmentLabDiagnosticAZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportAssignmentLabDiagnosticAZResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeIQReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q32:ComparativeSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHumComparativeIQReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportHumComparativeIQReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryCasesReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q33:VetCasesSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryCasesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVeterinaryCasesReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryLaboratoriesAZReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q34:VetLabSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryLaboratoriesAZReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVeterinaryLaboratoriesAZReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryFormVet1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q35:VetCasesSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryFormVet1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVeterinaryFormVet1Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryFormVet1A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q36:VetCasesSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinaryFormVet1AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVeterinaryFormVet1AResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinarySummaryAZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/eidss.model.Reports.AZ" minOccurs="0" name="model" nillable="true" type="q37:SummaryByRayonDiagnosisModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVeterinarySummaryAZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVeterinarySummaryAZResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q38:AggregateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAggregateCaseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q39:AggregateSummaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAggregateCaseSummaryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q40:AggregateActionsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAggregateCaseActionsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseActionsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q41:AggregateActionsSummaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAggregateCaseActionsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAggregateCaseActionsSummaryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAvianInvestigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q42:VetIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetAvianInvestigationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetAvianInvestigationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetLivestockInvestigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q43:VetIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetLivestockInvestigationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetLivestockInvestigationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetActiveSurveillanceSampleCollected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q44:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetActiveSurveillanceSampleCollectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetActiveSurveillanceSampleCollectedResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q45:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetSamplesCountResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesBySampleType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q46:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesBySampleTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetSamplesBySampleTypeResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesBySampleTypesWithinRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q47:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetSamplesBySampleTypesWithinRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetSamplesBySampleTypesWithinRegionsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetYearlySituation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q48:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetYearlySituationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetYearlySituationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetActiveSurveillance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q49:BaseYearModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetActiveSurveillanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetActiveSurveillanceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportInfectiousParasiticKZReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q50:InfectiousParasiticKZSurrogateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportInfectiousParasiticKZReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportInfectiousParasiticKZReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountryPreventiveMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q51:ProphylacticModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountryPreventiveMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetCountryPreventiveMeasuresResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountrySanitaryMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q52:SanitaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountrySanitaryMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetCountrySanitaryMeasuresResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountryPlannedDiagnosticTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q53:DiagnosticInvestigationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetCountryPlannedDiagnosticTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetCountryPlannedDiagnosticTestsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastPreventiveMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q54:ProphylacticModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastPreventiveMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetOblastPreventiveMeasuresResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastSanitaryMeasures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q55:SanitaryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastSanitaryMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetOblastSanitaryMeasuresResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastPlannedDiagnosticTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/eidss.model.Reports.KZ" minOccurs="0" name="model" nillable="true" type="q56:DiagnosticInvestigationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVetOblastPlannedDiagnosticTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVetOblastPlannedDiagnosticTestsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimTestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q57:LimTestResultModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimTestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimTestResultResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimSampleTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q58:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimSampleTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimSampleTransferResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q59:LimTestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimTestResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimBatchTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q60:LimBatchTestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimBatchTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimBatchTestResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimSample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q61:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimSampleResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimContainerContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q62:LimContainerContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimContainerContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimContainerContentResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimAccessionIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q63:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimAccessionInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimAccessionInResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimSampleDestruction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q64:IdListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLimSampleDestructionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportLimSampleDestructionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportOutbreak">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q65:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportOutbreakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportOutbreakResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportAdmEventLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q66:BaseIntervalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportAdmEventLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportAdmEventLogResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVectorSurveillanceSessionSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" minOccurs="0" name="model" nillable="true" type="q67:BaseIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVectorSurveillanceSessionSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportVectorSurveillanceSessionSummaryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportNewBarcodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcodeType" type="xs:long" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportNewBarcodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportNewBarcodesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportExistingBarcodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcodeType" type="xs:long" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idList" nillable="true" type="q68:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportExistingBarcodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportExistingBarcodesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSampleBarcodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/bv.common.Core" minOccurs="0" name="samples" nillable="true" type="q69:ArrayOfSampleBarcodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSampleBarcodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportSampleBarcodesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetServiceVersionResult" nillable="true" type="q70:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>