EIDSS v5/bv.tests/Service References/ReportPdfService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eidss.model.Reports.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8098/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Enums" />
  <xs:import schemaLocation="http://localhost:8098/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AggregateModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseIdModel">
        <xs:sequence>
          <xs:element name="_x003C_FormTemplateId_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_ObservationId_x003E_k__BackingField" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateModel" nillable="true" type="tns:AggregateModel" />
  <xs:complexType name="BaseIdModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseIdModel" nillable="true" type="tns:BaseIdModel" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element name="_x003C_CanWorkWithArchive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_ExportFormat_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eidss.model.Enums" name="_x003C_ForbiddenGroups_x003E_k__BackingField" nillable="true" type="q1:ArrayOfPersonalDataGroup" />
      <xs:element name="_x003C_IsOpenInNewWindow_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationId_x003E_k__BackingField" nillable="true" type="xs:long" />
      <xs:element name="_x003C_UseArchive_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="AggregateSummaryModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_AggrXml_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ObservationList_x003E_k__BackingField" nillable="true" type="q2:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateSummaryModel" nillable="true" type="tns:AggregateSummaryModel" />
  <xs:complexType name="HumIdModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseIdModel">
        <xs:sequence>
          <xs:element name="_x003C_CsId_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_DiagnosisId_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_EpiId_x003E_k__BackingField" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HumIdModel" nillable="true" type="tns:HumIdModel" />
  <xs:complexType name="BaseIntervalModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_EndDate_x003E_k__BackingField" type="xs:dateTime" />
          <xs:element name="_x003C_StartDate_x003E_k__BackingField" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseIntervalModel" nillable="true" type="tns:BaseIntervalModel" />
  <xs:complexType name="BaseDateModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_MonthEnd_x003E_k__BackingField" nillable="true" type="xs:int" />
          <xs:element name="_x003C_Month_x003E_k__BackingField" nillable="true" type="xs:int" />
          <xs:element name="_x003C_Year_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseDateModel" nillable="true" type="tns:BaseDateModel" />
  <xs:complexType name="BaseYearModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_Year_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseYearModel" nillable="true" type="tns:BaseYearModel" />
  <xs:complexType name="AggregateActionsModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseIdModel">
        <xs:sequence>
          <xs:element name="_x003C_DiagnosticFormTemplate_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_DiagnosticObservation_x003E_k__BackingField" type="xs:long" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Labels_x003E_k__BackingField" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
          <xs:element name="_x003C_ProphylacticFormTemplate_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_ProphylacticObservation_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_SanitaryFormTemplate_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_SanitaryObservation_x003E_k__BackingField" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateActionsModel" nillable="true" type="tns:AggregateActionsModel" />
  <xs:complexType name="AggregateActionsSummaryModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_AggrXml_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_DiagnosticObservation_x003E_k__BackingField" nillable="true" type="q4:ArrayOflong" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Labels_x003E_k__BackingField" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ProphylacticObservation_x003E_k__BackingField" nillable="true" type="q6:ArrayOflong" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_SanitaryObservation_x003E_k__BackingField" nillable="true" type="q7:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateActionsSummaryModel" nillable="true" type="tns:AggregateActionsSummaryModel" />
  <xs:complexType name="VetIdModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseIdModel">
        <xs:sequence>
          <xs:element name="_x003C_DiagnosisId_x003E_k__BackingField" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VetIdModel" nillable="true" type="tns:VetIdModel" />
  <xs:complexType name="ArrayOfSelectListItemSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectListItemSurrogate" nillable="true" type="tns:SelectListItemSurrogate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectListItemSurrogate" nillable="true" type="tns:ArrayOfSelectListItemSurrogate" />
  <xs:complexType name="SelectListItemSurrogate">
    <xs:sequence>
      <xs:element name="_x003C_Selected_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Text_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectListItemSurrogate" nillable="true" type="tns:SelectListItemSurrogate" />
  <xs:complexType name="LimTestResultModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseIdModel">
        <xs:sequence>
          <xs:element name="_x003C_CsId_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_TypeId_x003E_k__BackingField" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LimTestResultModel" nillable="true" type="tns:LimTestResultModel" />
  <xs:complexType name="LimTestModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseIdModel">
        <xs:sequence>
          <xs:element name="_x003C_IsHuman_x003E_k__BackingField" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LimTestModel" nillable="true" type="tns:LimTestModel" />
  <xs:complexType name="LimBatchTestModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseIdModel">
        <xs:sequence>
          <xs:element name="_x003C_TypeId_x003E_k__BackingField" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LimBatchTestModel" nillable="true" type="tns:LimBatchTestModel" />
  <xs:complexType name="LimContainerContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element name="_x003C_ContainerId_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_FreezerId_x003E_k__BackingField" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LimContainerContentModel" nillable="true" type="tns:LimContainerContentModel" />
</xs:schema>